@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #00132e;
    background-image:
      linear-gradient(rgba(138, 210, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(138, 210, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: "Work Sans", sans-serif;
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" 0,
      "opsz" 24;
  }
}

@layer utilities {
  .technical-line {
    background: repeating-linear-gradient(
      90deg,
      #3d4850 0,
      #3d4850 2px,
      transparent 2px,
      transparent 8px
    );
  }
}
